@charset "UTF-8";

div.main{
	width: 40%;
	height: 500px;
	margin-left: 5%;
	margin-rignt: 5%;
	margin-top: 2%;
	margin-bottom: 2%;
	padding: 1%;
	display:inline-block;
	border-style:solid;
	border-width:1px;
	border-color:#fdcdcd;
	border-radius:10px;
}
div.inner{
	width: 100%;
	height: 80%;
	margin: 0.1%;
	padding: 10px;
	display:inline-block;
	overflow:auto;
	
}
div.tablediv{
	width: 90%;
	height: 60%;
	margin: 0.1%;
	padding: 10px;
	border-radius:10px;
}
table.table{
	margin-top:0.5%;
	border-color:#fdcdcd;
}
h.inner{
	margin-top:5%;
	maring-bottom:7%;
}
a.viewall{
	color:#a87878;
	text-decoration:none;
}
table.hover{
	background:#fdcdcd;
}
